<div class="frame">
	
	<div class="header">
		<div id="header_left"></div>
		
		<h1 id="header_title">piControl</h1>
		
		<div id="header_right"></div>
	</div>
	
	<div class="scrollable" id="content">
		<ul id="actions" class="list"></ul>
		<div id="stats"></div>
	</div>
	
	<div class="footer" id="footer">
		{{> Footer }}
	</div>
	
</div>