<a class="button" href="#actions" data-section="actions">
	<i class="icon-play-sign"></i>
	Actions
</a>

{{! <button data-section="terminal">
	<i class="icon-terminal"></i>
	Terminal
</button> }}

<a class="button" href="#stats" data-section="stats">
	<i class="icon-bar-chart"></i>
	Stats
</a>

{{! <button data-section="settings">
	<i class="icon-cogs"></i>
	Settings
</button> }}