<button data-section="actions">
	<i class="icon-play-sign"></i>
	Actions
</button>

{{! <button data-section="terminal">
	<i class="icon-terminal"></i>
	Terminal
</button> }}

<button data-section="stats">
	<i class="icon-bar-chart"></i>
	Stats
</button>

{{! <button data-section="settings">
	<i class="icon-cogs"></i>
	Settings
</button> }}