<div class="well">
	<h2>CPU Usage</h2>
	<div class="percent cpuPercent"></div>
	<div class="cpuGraph"></div>
</div>
<div class="well">
	<h2>Memory Usage</h2>
	<div class="percent memoryPercent"></div>
	<div class="memoryGraph"></div>
</div>
